<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="flex-wrap">
                <div class="item footer__logo">
                    <a href="index.html">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                </div>
                <div class="item footer__menu">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Распродажа %</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Одежда </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Одежда</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Подарочные наборы</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Опт</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Опт</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Аксессуары и чехлы</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Покупателям</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Покупателям</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Канцтовары</a>
                        </li>
                    </ul>
                </div>
                <div class="item payment">
                    <p>Способы оплаты:</p>
                    <ul>
                        <li><img src="../img/visa.png" alt=""></li>
                        <li><img src="../img/mastercard.png" alt=""></li>
                        <li><img src="../img/logo-mir2.png" alt=""></li>
                    </ul>
                </div>
                <div class="item social">
                    <p>Мы в соц сетях:</p>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon10"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon16"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon11"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="flex-wrap">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Публичная оферта</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </li>
                </ul>
                <p><span>2019 © Сити Фабрика.</span> <span>Все права защищены.</span></p>
            </div>
        </div>
    </div>
</footer>