<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="flex-wrap">
                <div class="item">
                    <div class="toggle-menu">
                        <i class="icon-icon6"></i>
                    </div>
                    <ul class="header__contacts">
                        <li>
                            <a href="tel:+77777777777" class="header__phone">
                                <i class="icon-icon12"></i><span>+7 (777) 777 77 77</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:city_fabrica@gmail.com" class="header__email">
                                <i class="icon-icon23"></i>city_fabrica@gmail.com
                            </a>
                        </li>
                    </ul>
                    <ul class="header__social">
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon10"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon16"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon11"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="item workingHours">
                    <p class="title">График работы:</p>
                    <p>пн-пт: 09:00 - 20:00</p>
                    <p>сб-вс: 10:00 - 18:00</p>
                </div>
                <div class="item">
                    <a href="index.html" class="header__logo">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                </div>
                <div class="item">
                    <ul class="topLinks">
                        <li>
                            <a href="javascript:void(0)">Гимнастика</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Фигурное катание</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Танцы</a>
                        </li>
                    </ul>
                    <ul class="bottomLinks">
                        <li class="signIn">
                            <a href="javascript:void(0)">
                                <i class="icon-icon17"></i>
                            </a>
                        </li>
                        <li class="header__search">
                            <form>
                                <div class="form-input" id="headerSearch">
                                    <input name="search" class="search-query" type="text" placeholder="Поиск...">
                                    <button class="button"><i class="icon-icon18"></i></button>
                                </div>
                                <a href="javascript:void(0)" class="showSearch open-popupSearch"><i class="icon-icon18"></i></a>
                            </form>
                        </li>
                        <li class="cart">
                            <a href="javascript:void(0)">
                                <i class="icon-icon5"></i>
                                <span>Корзина (1)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="flex-wrap">
                <div class="menuIcon">
                    <i class="icon-icon6"></i>
                    <p>Меню</p>

                    <!-- начало меню на планшете -->
                    <div class="tabletMenu">
                        <nav>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Акции</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Подарочные наборы</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Аксессуары </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Канцтовары</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Одежда</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Опт</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Покупателям</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="workTime">
                            <p>График работы:</p>
                            <ul>
                                <li>
                                    <p>пн-пт: 09:00 - 20:00</p>
                                </li>
                                <li>
                                    <p>сб-вс: 10:00 - 18:00</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- конец меню на планшете -->
                </div>
                <div class="catalog">
                    <a href="javascript:void(0)" class="open-catalogPopup"><i class="icon-icon6"></i> Каталог</a>

                    <!-- начало меню каталога, только на планшете -->
                    <div class="catalogList">
                        <nav>
                            <ul>
                                <li class="gymnastics">
                                    <a href="javascript:void(0)">Художественная гимнастика</a>
                                </li>
                                <li class="dancing">
                                    <a href="javascript:void(0)">Танцы</a>
                                </li>
                                <li class="promotions">
                                    <a href="javascript:void(0)">Балет</a>
                                </li>
                                <li class="figure-skating">
                                    <a href="javascript:void(0)">Фигурное катание</a>
                                </li>
                                <li class="gymnastics">
                                    <a href="javascript:void(0)">Художественная гимнастика</a>
                                </li>
                                <li class="dancing">
                                    <a href="javascript:void(0)">Танцы</a>
                                </li>
                                <li class="promotions">
                                    <a href="javascript:void(0)">Балет</a>
                                </li>
                                <li class="figure-skating">
                                    <a href="javascript:void(0)">Фигурное катание</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    <!-- конец меню каталога, только на планшете -->

                </div>

                <!-- начало меню на мобильном -->
                <div id="mobileWrap" class="mobileWrap">
                    <div class="mobileClose"></div>
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                    <nav class="mobileMenu">
                        <ul>
                            <li class="gymnastics bold">
                                <a href="javascript:void(0)">Гимнастика</a>
                            </li>
                            <li class="figure-skating bold">
                                <a href="javascript:void(0)">Фигурное катание</a>
                            </li>
                            <li class="dancing bold">
                                <a href="javascript:void(0)">Танцы</a>
                            </li>
                            <li class="promotions">
                                <a href="javascript:void(0)">Акции</a>
                            </li>
                            <li class="gift-baskets">
                                <a href="javascript:void(0)">Подарочные наборы</a>
                            </li>
                            <li class="accessories">
                                <a href="javascript:void(0)">Аксессуары </a>
                            </li>
                            <li class="stationery">
                                <a href="javascript:void(0)">Канцтовары</a>
                            </li>
                            <li class="clothing">
                                <a href="javascript:void(0)">Одежда</a>
                            </li>
                            <li class="wholesale">
                                <a href="javascript:void(0)">Опт</a>
                            </li>
                            <li class="buyers">
                                <a href="javascript:void(0)">Покупателям</a>
                            </li>
                            <li class="own-design bold">
                                <a href="javascript:void(0)">Свой дизайн</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- конец меню на мобильном -->

                <!-- начало меню на десктопе -->
                <nav class="desktopMenu">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Акции</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Подарочные наборы</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Аксессуары </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Канцтовары</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Одежда</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Опт</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Покупателям</a>
                        </li>
                    </ul>
                </nav>
                <!-- конец меню на десктопе -->

                <div class="ownDesign">
                    <a href="javascript:void(0)">Свой дизайн</a>
                </div>
                <a href="javascript:void(0)" class="mobileCart">
                    <i class="icon-icon5"></i>
                </a>
            </div>
        </div>
    </div>
</header>