<div class="overlay-catalogPopup overlayPopup">
    <div class="close"></div>
    <div class="catalogPopup">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Каталог</h3>
            <div class="catalogList">
                <nav>
                    <ul>
                        <li class="gymnastics">
                            <a href="javascript:void(0)">Художественная гимнастика</a>
                        </li>
                        <li class="dancing">
                            <a href="javascript:void(0)">Танцы</a>
                        </li>
                        <li class="promotions">
                            <a href="javascript:void(0)">Балет</a>
                        </li>
                        <li class="figure-skating">
                            <a href="javascript:void(0)">Фигурное катание</a>
                        </li>
                        <li class="gymnastics">
                            <a href="javascript:void(0)">Художественная гимнастика</a>
                        </li>
                        <li class="dancing">
                            <a href="javascript:void(0)">Танцы</a>
                        </li>
                        <li class="promotions">
                            <a href="javascript:void(0)">Балет</a>
                        </li>
                        <li class="figure-skating">
                            <a href="javascript:void(0)">Фигурное катание</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>